html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.container {
    max-width: 1200px;
    background: url("../img/chalkboard.jpg") no-repeat;
    margin: 0 auto;
    border: 0.25em solid #cc454f;
}

#logo {
    height: auto;
    width: 100%;
}

/* head and subhead */
main h1 {
    color: #ffe173;
    font-size: 2.5em;
    font-weight: lighter;
    text-align: center;
}

main h2 {
    color: #ffe173;
    font-size: 1.2em;
    text-align: center;
}

/* paragraph and image */
#intro {
    background-color: white;
    margin-left: 0.75em;
    margin-right: 0.75em;
    color: #2866a3;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 0.5em solid #2866a3;
    font-size: 1em;
}

#intro a {
    color: #2866a3;
}

#intro a:hover {
    color: #cc454f;
}

/* Images - centering courtesy of https://www.w3.org/Style/Examples/007/center.en.html#block */
#belchers1 {
    height: auto;
    width: 100%;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
}

/* buttons - styling courtesy of https://www.w3schools.com/Css/css3_buttons.asp */
#button1,
#button2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.2em;
    background-color: #2866a3;
    border-radius: 8px;
    color: #f4f4f0;
    font-family: "bobsburgers";
    font-weight: lighter;
    font-size: 3em;
    text-align: center;
    padding: 0 0.5em;
}

#button1:hover,
#button2:hover {
    background-color: #a8ea55;
    color: #2866a3;
}

/* color swatches */
#swatches {
    text-align: center;
}

#red,
#blue,
#green {
    padding: 0.85em;
}

/* fonts */
@font-face {
    font-family: "bobsburgers";
    src: url("../fonts/bobsburgers.eot"); /* for IE compatibility because IE is horrible */
    src: url("../fonts/bobsburgers.woff2") format("woff2"), url("../fonts/bobsburgers.woff") format("woff"), url("../fonts/bobsburgers.ttf") format("truetype");
}

h1 {
    font-family: "bobsburgers";
}

h2 {
    font-family: "Architects Daughter", cursive;
}

p {
    font-family: "Roboto", sans-serif;
}

/* hide headings */
.visuallyhidden { /* Courtesy of HTML5 Boilerplate. Used to hide headings that shouldn't be seen but are required to code a valid HTML5 outline */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    postion: absolute;
    width: 1px;
}
