/* fonts */
@font-face {
    font-family: "bobsburgers";
    src: url("../fonts/bobsburgers.eot"); /* for IE compatibility because IE is horrible */
    src: url("../fonts/bobsburgers.woff2") format("woff2"), url("../fonts/bobsburgers.woff") format("woff"), url("../fonts/bobsburgers.ttf") format("truetype");
}

h1 {
    font-family: bobsburgers;
}

h2 {
    font-family: 'Architects Daughter', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
}

.visuallyhidden { /* Courtesy of HTML5 Boilerplate. Used to hide headings that shouldn't be seen but are required to code a valid HTML5 outline */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    postion: absolute;
    width: 1px;
}
